<div class="twelve columns offset-by-six content">
			<h1 class="remove-bottom hi" style="margin-top: 100px;    text-shadow: rgba(0, 0, 0,.2) 0px 1px 0px;">Contact</h1>
			<p class="about">The best way to contact me is <a href="mailto:hi@robinspatel.com">email</a> but there are a number of other ways (including social):</p>

			<p style="font-size: 1.2em;">
			<a href="http://twitter.com/ravipatel"><i class="fa fa-twitter-square fa-2x"></i>&nbsp;&nbsp;@ravipatel</a><br>
			<a href="http://linkedin.com/in/robinspatel"><i class="fa fa-linkedin-square fa-2x"></i> &nbsp;&nbsp;LinkedIn</a><br>
			<a href="http://facebook.com/rpatel7791"><i class="fa fa-facebook-square fa-2x"></i> &nbsp;&nbsp;Facebook<sub>*</sub></a><br>
			<a href="https://plus.google.com/+RaviPatels/"><i class="fa fa-google-plus-square fa-2x"></i> &nbsp;&nbsp;Google Plus<sub>*</sub></a><br>
			<a href="http://github.com/arnp"><i class="fa fa-github-square fa-2x"></i> &nbsp;&nbsp;GitHub</a>

			<br><br>
			<!--<p class="about"><small>For a super fast reply, send an <i class="fa fa-apple"></i> &nbsp;iMessage.<br>-->

			<small><sub>*</sub>Not visited frequently.</small></p>
</div>
