<div class="thirteen columns offset-by-six content">
			<h1 class="remove-bottom hi" style="margin-top: 100px;">{{ page.title }}</h1>
			<p class="about">The Boston area is full of great events for asipiring entreprenuers and technologists. Most are free for students.</p><p>Here are some I've attended, and may attend soon in the future.</p>
			<small>Unless marked, events are in the Boston and Cambridge area.</small>
<hr class="lighter"/>
<div class="recent-posts">upcoming events</div>
<div class="row">
				<div class="two columns"><img src="/images/events/mec.png"></div>		
				<div class="six columns event-title"><a href="https://www.eventbrite.com/e/innovation-series-event-what-is-new-in-innovation-tickets-8172029761"><p>Innovation Series Event: What is New in Innovation?</p></a></div>
				<div class="two columns" style="float:right;"><p>February 25</p></div>
</div>




			
<hr class="lighter"/>

				<div class="recent-posts">past events <div class="spanlighter"> by most recent</div></div>

<div class="row">
				<div class="two columns"><img src="/images/events/clm.png"></div>		
				<div class="six columns event-title"><a href="http://www.meetup.com/CoFoundersLab-Matchup-Boston/"><p>Mobile Influence - Business Strategies & Tactics for the Mobile Market</p></a></div>
				<div class="two columns" style="float:right;"><p>February 5</p></div>
</div>
<div class="row">
				<div class="two columns"><img src="/images/events/intelli.png"></div>		
				<div class="six columns event-title"><a href="http://www.greenhornconnect.com/events/intelligently-event-chasing-unicorns-how-find-technical-co-founder-boston"><p>Chasing Unicorns: How to Find a Technical Co-Founder In Boston</p></a></div>
				<div class="two columns" style="float:right;"><p>January 29</p></div>
</div>


<div class="row">
				<div class="two columns"><img src="/images/events/mitc.png"></div>		
				<div class="six columns event-title"><a href="http://www.eventbrite.com/e/new-co-founder-day-mit-chief-ventureships-club-tickets-7123908803?aff=erec&rank=11"><p>New Co-Founder Day MIT-CHIEF & VentureShips Club</p></a></div>
				<div class="two columns" style="float:right;"><p>January 18</p></div>
</div>

<div class="row">
				<div class="two columns"><img src="/images/events/amab.png"></div>		
				<div class="six columns event-title"><a href="http://www.eventbrite.com/e/mobile-influence-business-strategies-tactics-for-the-mobile-market-tickets-9664590049?aff=erec&rank=17"><p>Mobile Influence - Business Strategies & Tactics for the Mobile Market</p></a></div>
				<div class="two columns" style="float:right;"><p>Janaury 22</p></div>
</div>


<div class="row">
				<div class="two columns"><img src="/images/events/momo.png"></div>		
				<div class="six columns event-title"><a href="eventbrite.com"><p>Mobile Mondays: Mobile Marketing, Brands, and Media</p></a></div>
				<div class="two columns" style="float:right;"><p>January 13</p></div>
</div>
	

<div class="row">
				<div class="two columns" style="float:right; font-weight: bolder;"><p>&nbsp; 2013 <i class="fa fa-level-down"></i> </p></div>
</div>


<div class="row">
				<div class="two columns"><img src="/images/events/bc.png"></div>		
				<div class="six columns event-title"><a href="http://www.eventbrite.com/e/barcamp-boston-8-tickets-8028514503"><p>Boston Barcamp 8</p></a></div>
				<div class="two columns" style="float:right;"><p>October 26</p></div>
</div>


<div class="row">
				<div class="two columns"><img src="/images/events/aim4e.png"></div>		
				<div class="six columns event-title"><a href="https://www.eventbrite.com/e/2nd-annual-intercollegiate-mixer-for-entrepreneurship-aim4e-tickets-7831527309?utm_term=eventpage&invite=NDI1NDA3My9mYWR5QG1pdC5lZHUvMA%3D%3D&utm_campaign=invitenew001&utm_source=eb_email&utm_medium=email&ref=enivte001"><p>Entreprenuership Mixer at NERD</p></a></div>
				<div class="two columns" style="float:right;"><p>October 1</p></div>
</div>



<div class="row">
				<div class="two columns"><img src="/images/events/mec.png"></div>		
				<div class="six columns event-title"><a href="https://www.eventbrite.com/e/innovation-series-event-from-farm-to-tablet-a-food-startup-feast-tickets-7918736153?utm_campaign=event_reminder&utm_medium=email&utm_source=eb_email&utm_term=event_title"><p>Innovation Series Event: From Farm to Tablet: A Food Startup Feast
</p></a></div>
				<div class="two columns" style="float:right;"><p>September 18</p></div>
</div>


<div class="row">
				<div class="two columns"><img src="/images/events/vf.png"></div>		
				<div class="six columns event-title"><a href="http://www.eventbrite.com/e/designing-product-experiences-that-win-tickets-7768314237"><p>Designing Product Experiences That Win
</p></a></div>
				<div class="two columns" style="float:right;"><p>September 17</p></div>
</div>



<div class="row">
				<div class="two columns"><img src="/images/events/tdrr.png"></div>		
				<div class="six columns event-title"><a href="http://www.bu.edu/otd/about/tech-drugs-and-rock-n-roll/tdrr-2013/"><p>Boston University - Tech Drugs and Rock and Roll 
</p></a></div>
				<div class="two columns" style="float:right;"><p>July 16</p></div>


</div>


<div class="row">
				<div class="two columns"><img src="/images/events/build.png"></div>		
				<div class="six columns event-title"><a href="http://www.buildwindows.com"><p>BUILD - Microsoft Developers Conference [San Francisco] 
</p></a></div>
				<div class="two columns" style="float:right;"><p>June 26-28</p></div>


</div>



<div class="row">
				<div class="two columns"><img src="/images/events/mec.png"></div>		
				<div class="six columns event-title"><a href="http://www.eventbrite.com/e/the-4th-annual-auto-id-sensing-solutions-expo-tickets-4840328553?utm_campaign=event_reminder&utm_medium=email&utm_source=eb_email&utm_term=event_title"><p>The 4th Annual Auto-ID & Sensing Solutions Expo
</p></a></div>
				<div class="two columns" style="float:right;"><p>June 13</p></div>


</div>
    </div>