
<div class="twelve columns offset-by-six content">
			<h1 class="remove-bottom hi" style="margin-top: 100px">{{ page.title }}</h1>
			<hr class="lighter"/>

			<p class="about">Upcoming...in the meantime, here's some music.</p>

<iframe src="https://embed.spotify.com/?uri=spotify:user:ravifromboston:playlist:5W0FZBYQjS82yxJFM77YiF" width="300" height="380" frameborder="0" allowtransparency="true" style="float:right;"></iframe>
<iframe src="https://embed.spotify.com/?uri=spotify:user:ravifromboston:playlist:6dHNFAiWioafYIirW5aVkP" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>

