<div class="ten columns offset-by-six home-greeting">
			<h1 class="remove-bottom hi" style="margin-top: 150px">Hello,</h1>
			<p style="color: #19B5FE;">I'm Robins (or Ravi), an engineer and entrepreneur from Boston.</p>
			<p>I recently graduated from <a href="http://bu.edu/eng">Boston University's College of Engineering</a> where I earned a Bachelor of Science in Computer Engineering.</p>
			<p>I'm a cofounder at <a href="http://sharewithpitch.com">Pitch</a> where I did product development and helped it become a 2013 Microsoft ImagineCup finalist. Coming very soon to the Windows App Store.</p>
			<p>This is my continuously growing homepage. Feel free to <a href="mailto:hi@robinspatel.com">write</a> to me or get in touch via <a href="/contact.html">any other method.</a>
			<hr class="clear" />
			<img class="bird" src="/images/robin.png"></p>
</div>
<!--
<div class="holder"></div>

<div class="twelve columns offset-by-six content mainpage">
	<center>
	<p class="remove-bottom greeting" style="margin-top: 0px;">
	 <img class="bird" src="/images/robin.png"><br>
<br>{{ site.greeting_title }}<br></p>
		<span class="greeting-title">{{ site.greeting_text }}</span>
		<br><br>
		<a href="/about.html"><button type="showcase-button" class="btn btn-default showcase-button">About Me</button></a></center>

	<hr class="clear"/>
	<hr class="clear"/>

			<hr class="lighter"/>
			<div class="recent-posts">latest post</div>
			{% for post in site.posts limit: 1 %}
			<div class="row post-list">
				<div class="eight columns alpha">
					<a href="{{ post.url }}"><h4>{{ post.title}}</h4>
					</div>
					<div class="four columns omega">
						<h4 class="date"><small>{{ post.date | date_to_string }}</small></h4></a>
					</div>
				</div>
				{% endfor %}
			</div>
	<hr class="clear"/>
	<hr class="clear"/>
	<hr class="clear"/>
	<hr class="clear"/>
	<hr class="clear"/>
	<hr class="clear"/>
			</div>
-->